@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Custom variables for colors */

:root {
    --off-black: hsl(0, 0%, 8%);
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
}

/* Default mobile design styles */

/* '*' Targets all elements, resets spaces around and inside of to 0,  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--off-black);
    color: var(--white);
    font-family: 'Inter';
    padding: 2rem 2rem 2rem 2rem;
}

.main-card {
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    margin: 120px 1.5rem 125px 1.5rem;
    border-radius: 1rem;
    background-color: var(--dark-grey);
}

img {
    border-radius: 50%;
    width: 35%;
}

.img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

h1 {
    color: var(--white);
    font-weight: 400;
    padding-bottom: 0.5rem;
}

.card-text {
    text-align: center;
}

p {
    font-weight: 600;
    font-size: 14px;
    color: var(--green);
    padding-bottom: 1.5rem;
}

.quote-text {
    font-weight: 400;
    font-size: 14px;
    color: var(--white);
    padding-bottom: 1.5rem;
}

button {
    font-weight: 600;
    font-size: 14px;
    color: var(--white);
}

.buttons button {
    width: 100%;
    border: none;
    display: block;
    margin-bottom: 1rem;
    padding: 1rem 0rem 1rem 0rem;
    border-radius: 0.5rem;
    background-color: var(--grey);
}

/* Allows buttons to turn green with black text when cursor hovers over them */

button:hover {
    background-color: var(--green);
    color: var(--off-black);
    cursor: url('assets/images/icons8-cursor-2.svg'), url('assets/images/icons8-cursor-2.svg'),
    url('assets/images/icons8-cursor-2.svg'), auto;
}

/* Removes bullet points from each listed item (button) */

ul li {
    list-style-type: none;
}

/* Removes the underlining of the text in each button */

a {
    text-decoration: none;
}

@media screen and (min-width: 769px) {
    
    .main-card {
        width: 25%;
        margin: auto;
        margin-top: 120px;
    }
    
    img {
        width: 30%;
}

.img-div {
    padding-bottom: 1.5rem;
}

}